@model Budget.kwm0304.Models.TransactionViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-asp-controller="Transactions" asp-action="Index" method="get">
    <p>
        <select asp-for="TransactionCategory" asp-items="Model.Categories">
            <option value="">All</option>
            Name; <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </select>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions![0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions![0].OccuredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions![0].TransactionCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transactions!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccuredAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionCategory!.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
